body {
    text-align: center;
    color: aqua;
    background-image:linear-gradient(crimson,blue);
    
}

img {
    width: 500px;
}

.span {
    width=400px;
    height: 300px;
}

.heading {
    font-family: "Stint Ultra Condensed";
}

.menu {
    font-family: sans-serif;
    position: fixed;
    top: 0px;
    z-index: 10;
    cursor: pointer;
    width:100%;
    margin-top:0px;
    }

.links {
    color: cadetblue;
    padding-left: 33px;
    padding-right: 25px;
   font-family: fantasy
        display:inline;
    font-size:20px;
    
    
}
#contact{
    background:firebrick; 
    width:100%;
    
}
.contact_1 h3{
    display:inline
}
.links:hover{
font-size:25px;
    text-decoration:underline;
}
